@import '../../../../assets/scss/shared.scss';
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 250px;
    background-color: $fff;
    .icon-loading {
        font-size: 40px;
    }
}
